@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Silkscreen:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image: linear-gradient(to top, black,white);
    height: 100%;
    width: 100%;
}

header{
    background-color: black ;
    padding: 20px;
    width: 100vw;
    margin-bottom: 40px;
}

li{
    display: inline;
    font-size: 1.85em;
}

a{
    font-family: "Ribeye Marrow", serif;
    color:white;
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
a:hover{
    background-color: #001ea3;
    transition:  0.5s;
}


main{
    display: block;
    text-align: center;
}

main img{
    
}

section{
    display: inline-block;
    margin: auto;
    overflow: hidden;
    width: 500px;
    height: 800px;
    background-color: #3a86f8;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 15px;
}

section:hover{
    background-color: white;
    transition:  0.5s;
}

p{
    width: 500px;
    margin: auto;
    padding-bottom: 60px ;
    font-family: "Handjet", sans-serif;
    font-size: 1.4em;
    
}
h2{
    padding: 15px;
}

h1{
    font-family: "Ribeye Marrow", serif;
    margin-bottom: 40px;
    font-size: 4em;
}